.imagen_slide{
    width: 100%;
    height: 500px
}

.interes_div{
    color: white;
    margin-top: 30px;
    margin-left: 5px;
}

div.galeria {
    border: 1px solid #ccc;
}

div.galeria:hover {
    border: 1px solid #5c126b9a;
}

div.galeria img {
    width: 100%;
    height: 300px;
}

div.desc {
    color: white;
    padding: 15px;
    text-align: center;
    background-color: black;
}

* {
    box-sizing: border-box;
}

.galeria_principal {
    margin-bottom: 10px;
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .galeria_principal {
        width: 49.99999%;
        margin: 6px 0;
    }

    .imagen_slide{
        width: 100%;
        height: 350px
    }
    
}

@media only screen and (max-width: 500px) {
    .galeria_principal {
        width: 100%;
    }

    .imagen_slide{
        width: 100%;
        height: 300px
    }
    
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}