.title {
    text-align: center;
    color: white;
    margin-top: 50px;
    font-size: 3em;
}


.div_prin {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    
}


.parrafo {
    color: white;
    width: 65%;
    justify-content: center;
    line-height: 1.6;
}

p {
    color: white;
    font-size: large;
}

.item_main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    background-color: rgba(90, 26, 99, 0.199);

}

.item_descripcion_p{
    color: white;
    width: 90%;
    margin-left: 15px;
    justify-content: center;
    line-height: 1.6;
    flex: 50%;
}

.item_main img{
    width: 600px;
    height: 400px;
}


.insta{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    border-radius: 2%;
}


@media (max-width: 800px) {
    .item_main img{
        width: 100%;
        height: 40%;
    }

    .item_main {
      flex-direction: column;
    }

    .insta{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        border-radius: 2%;
    }
    
  }