.div_tabla{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
}

.tabla{
    margin: auto;
    width: 90%;
    
}

.div_but{
    margin-top: 30px;
    text-align: center;
}


.tabla{
    font-weight: bold;
}

input[type=button]{
    border-radius: 5px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: small;
    cursor: pointer;
    margin-top: 10px;
    width: 40%;
    
}


input[type=button]:hover{
    background-color: #5c126b9a;
    color: white;
}

input[type=number]{
  
    width: 50%;
    padding: 10px;
}


.img{
    width: 200px;
    margin-top: 20px;
}

input[type="number"]:disabled {
    background-color: #ffffff;
}

@media only screen and (max-width: 800px) {
    .img{
        display: none;
    }
    .img_ref{
        display: none;
    }

    .div_tabla{
        display: inline;
        font-size: smaller;
        text-align: center;
        margin-top: 40px;
        margin-top: 50px;
    }

    .tabla{
        margin-top: 50px;
    }

    input[type=number]{
  
        width: 60px;
        padding: 0px;
    }
    
    footer{
        position: fixed;
        bottom: 0;
    }

    td{
        font-size: x-small;
        line-height: 1.5;
    }

    .div_but{
        display: flex;
        flex-direction: column;

    }

    input[type=button]{
        width: 100%;
        margin-top: 10px;
    }
    
    
}
