body {
    background-color: #111111;
    margin: 0px;
}

header {
    background-color: #492e66;
    height: 75px;
    width: 100%;
    justify-content: space-between;
}

.menu_items{
    justify-content: space-between;
}

.logo {
    width: 50px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.seccion{
    margin-top: 50px;
}

.title{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: 50px;
}

.div_prin {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}

.parrafo {
    color: white;
    width: 75%;
    justify-content: center;
}

footer {
    background-color: #492e66;
    height: 50px;
    width: 100%;
    margin-top: 60px;
    bottom: 0;
    
}

a{
    color: white;
    
}

::-webkit-scrollbar {
    width: 15px;
    height: 10px;
    background: #575656;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
}