body {
    background-color: #111111;
    margin: 0%;
}

header {
    background-color: #ffffff;
    height: 75px;
    width: 100%;
    justify-content: space-between;
}


.header2_ul {
    height: 40px;
    font-size: large;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.header2_ul li {
    float: left;
}

.header2_ul a {
    text-decoration: none;
    display: block;
    padding: 8px;
}

li a:hover:not(.active) {
    background-color: #5c126b9a;
}

/*#5c126b9a*/

.logo {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: -40px;
}

.seccion {
    margin-top: 50px;
}

.title {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: 50px;
}

.mySlides {
    display: none;
}

footer {
    background-color: #ffffff;
    height: 50px;
    width: 100%;
    margin-top: 60px;
}

a {
    color: white;
}

::-webkit-scrollbar {
    width: 15px;
    height: 10px;
    background: #575656;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
}